<div class="container">
<app-menu-medecin></app-menu-medecin>
<div class="ui grid">

    <app-dashboard-docteur></app-dashboard-docteur>

    <div class="twelve wide stretched column">

<div class="ui four statistics">
    <div class="statistic">
      <div class="value">
        22
      </div>
      <div class="label">
        Saves
      </div>
    </div>
    <div class="statistic">
      <div class="text value">
        Three<br>
        Thousand
      </div>
      <div class="label">
        Signups
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="plane icon"></i> 5
      </div>
      <div class="label">
        Flights
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <img src="https://scontent.ftun3-1.fna.fbcdn.net/v/t1.0-9/27331564_394839100942346_5630900291738073118_n.jpg?oh=a2345d5ead51ac365be03f0b92463be4&oe=5B12FB33" class="ui circular inline image">
        42
      </div>
      <div class="label">
        Team Members
      </div>
    </div>
  </div>

</div>
</div>